---
layout: default
---

<div class="container">
    <div class="bg-founder px-4 py-1">
        <h1 class="display-6 text-white">Founder</h1>
    </div>
    <div class="d-flex justify-content-center p-1">
        {% assign founders = site.staff_members | where:"position","Founder" %}
        {% for staff_member in founders %}
        <div class="card m-1">
            <div class="card-body">
                <img src="{{ staff_member.avatar_link }}" class="img-fluid"/>
                <p class="text-center">{{ staff_member.name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="bg-developer px-4 py-1">
        <h1 class="display-6 text-white">Developer/Ops</h1>
    </div>
    <div class="d-flex justify-content-center p-1">
        {% assign devs = site.staff_members | where:"position","Developer/Ops" %}
        {% for staff_member in devs %}
        <div class="card m-1">
            <div class="card-body">
                <img src="{{ staff_member.avatar_link }}" class="img-fluid"/>
                <p class="text-center">{{ staff_member.name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="bg-light p-2">
        <h1 class="text-center display-6">Our Mantra</h1>
        <p>Welcome to PixelMC, the ultimate Minecraft server for Pokemon fans! Pixelmon is a modded server that allows you to catch, train, battle and trade over 900 different Pokemon in a custom Minecraft world. You can join gyms, participate in tournaments, collect badges, and even create your own Pokemon team. PixelMC is more than just a server, it’s a community of passionate Pokemon lovers who enjoy playing together and sharing their adventures. Whether you are a casual player or a hardcore fan, you will find something to love in PixelMC. Join us today and experience the thrill of catching ’em all!</p>
    </div>
</div>