---
layout: default
---

<div class="container">
    <div class="row">
        <div class="accordion" id="accordionExample">
            {% for post in site.posts %}
            <div class="accordion-item my-2">
              <h2 class="accordion-header bg-primary">
                <button class="accordion-button {% if forloop.first == false %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.index }}">
                  <div>
                    <h3 class="display-6">
                        {{ post.title }}
                    </h3>
                    <div class="d-flex gap-1 flex-wrap-1">
                        {% if post.author %}
                            <p>By {{ post.author }} 
                                {% assign author = site.data.staff_members | where:"name",post.author | first %}
                                <img class="img-fluid" style="height: 1rem;" src="{{ author.head_link }}"/>
                            </p>
                        {% endif %}
                        <div class="ps-2">
                            <small class="bg-primary text-white rounded p-1">{{ post.categories }}</small>
                            <small class="bg-light text-black rounded p-1">{{ post.date | date_to_long_string: "ordinal" }}</small>
                        </div>
                    </div>
                  </div>
                </button>
              </h2>
              <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse {% if forloop.first %} show {% endif %}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ post.content }}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>