---
layout: landing
---

<div id="landing" class="default-bg">
    {% include navbar.html dark="true" %}

    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="assets/img/brand/logo.png"/>
            </div>
           
           <div class="d-flex justify-content-center">
                <h1 class="ip text-white p-1 rounded">play.pixelmc.co</h1>
           </div>
        
           <div class="d-flex justify-content-center">
                <p class="text-white">click to copy</p>
            </div>
        
            <div class="d-flex justify-content-center gap-4">
                <a class="btn btn-hero btn-lg" href="https://shop.pixelmc.co/?_gl=1*vv9pdm*_ga*MzM4MTg2Ny4xNzEwNDM4NTM5*_ga_R5Y3GDE3KT*MTcxMDYwMzU5MS42LjEuMTcxMDYwMzk5OS4wLjAuMA..">Web Store</a>
                <a class="btn btn-hero btn-lg" href="https://discord.com/invite/HRMbcRK">Forums</a>
            </div>
        </div>
    </div>
</div>

<div id="body" class="container my-4">
    <div class="row my-4">
        <div class="col-12 col-lg-8">
            <h1 class="display-4 fw-bolder">Announcements</h1>

            <div>
                {% for post in site.posts limit:1 %}
                    <h2><a class="nav-link" href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>{{ post.excerpt }}</p>
                    <small>{{ post.date | date_to_long_string: "ordinal" }}</small>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center justify-content-md-end p-3">
                <a class="btn btn-primary" href="/announcements">Latest Announcements</a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <iframe src="https://discord.com/widget?id=181439927358193664&amp;theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 col-md-8 p-4">
            <h1 class="text-center fw-bold">About Us</h1>
            <p>Welcome to PixelMC, the ultimate Minecraft server for Pokemon fans! Pixelmon is a modded server that allows you to catch, train, battle and trade over 900 different Pokemon in a custom Minecraft world. You can join gyms, participate in tournaments, collect badges, and even create your own Pokemon team. PixelMC is more than just a server, it’s a community of passionate Pokemon lovers who enjoy playing together and sharing their adventures. Whether you are a casual player or a hardcore fan, you will find something to love in PixelMC. Join us today and experience the thrill of catching ’em all!</p>
        </div>
        <div class="col-12 col-md-4 p-4">
            <h1 class="fw-bold">Vote Links</h1>
            
            <ul>
                <li><a href="#">Pixelmon Servers</a></li>
                <li><a href="#">Pixelmon Servers</a></li>
                <li><a href="#">Pixelmon Servers</a></li>
                <li><a href="#">Pixelmon Servers</a></li>
                <li><a href="#">Pixelmon Servers</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () => {
        document.querySelectorAll(".ip").forEach(function(element) {
            element.addEventListener("click", function() {
                let toggleCls = "bg-primary"

                this.classList.toggle(toggleCls)

                setTimeout(() => {
                    this.classList.toggle(toggleCls)
                }, 1000)

                navigator.clipboard.writeText(this.innerHTML);
            });
        });
    })
</script>