<div id="cookie-banner" class="d-flex justify-content-center">
    <div class="row container">
        <div class="col-md-3">
            <img class="img-fluid" src="assets/img/brand/logo.png"/>
        </div>
        <div class="col-12 col-md-5">
            We use cookies to enhance your experience on our website. By continuing to browse the site, you agree to our use of cookies. If you wish to learn more about our cookie policy or adjust your preferences, please visit <a href="/cookiepolicy">here</a>.
        </div>
        <div class="col-12 col-md-4 d-flex flex-column gap-2">
            <button id="cookie-accept-btn" type="button" class="btn btn-block btn-primary">Accept</button>
            <button id="cookie-reject-btn" type="button" class="btn btn-block btn-secondary">Reject</button>
        </div>
    </div>
</div>

<script src="/assets/js/gdpr/cookie-banner.js"></script>