<html>
<head>
    {% include head.html %}
</head>
<body class="default-bg">
    <div class="d-flex flex-column h-100">
        <div> {% include navbar.html %}</div>
        <div class="flex-grow-1">
            <div class="container p-0">
                <div class="card border-0">
                    <div class="card-header border-0 bg-primary text-light">
                        <h2 class="display-4">{{ page.title }}</h2>
                        <div class="d-flex gap-1 flex-wrap-1">
                            <small class="bg-light text-black rounded p-1">{{ page.date | date_to_long_string: "ordinal" }}</small>
                            <small class="bg-light text-black rounded p-1">{{ page.categories }}</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-1"> {% include footer.html %}</div>
    </div>

    {% include js-common.html %}
</body>
</html>